# --- עורכי קוד (IDE) ---
.vscode/
.idea/
.DS_Store

# --- קבצי הרצה ו-Build ---
# קבצי הרצה ותוצרי קומפילציה
*.exe
*.o
*.obj
*.pdb
*.ilk
kungfu_chess
run_tests.exe
build/
build_verify/
out/

# --- קבצי סביבת עבודה ו-CMake ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.vcxproj
*.vcxproj.filters
*.sln

# --- בדיקות וכיסוי קוד ---
*.gcda
*.gcno

# --- ספריות צד שלישי כבדות ---
kungfu-graphics/cpp/OpenCV_451/

# --- תיקיות שפה ופרויקטים פנימיים ---
py/__pycache__/
java/target/
__pycache__/

# --- קבצי הגשה וסקריפטים ---
vpl_submission/
kung_fu_chess_vpl.zip
.scripts/
third_party/asio/
third_party/websocketpp/